/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#Title {
  background-image: url('C:/Users/Nicola/Documents/GitHub/GymBuddies/Images/Gym.jpg');
  background-size: cover;
  font-family: "Century Gothic";
  text-align: center;
  padding-top: 40px;
  }
#HomePage {
  color: #777776;
  font-family: "Century Gothic";
  text-align: center;
  margin: 30px;
}
#AboutPage {
  color: #777776;
  font-family: "Century Gothic";
  text-align: center;
  margin: 30px;
}
#ProfilePage {
  color: #777776;
  font-family: "Century Gothic";
  text-align: center;
  margin: 30px;
}
#ProfilePage1 {
  color: #777776;
  font-family: "Century Gothic";
  text-align: center;
  margin: 30px;
}
#ContactUsPage {
  color: #777776;
  font-family: "Century Gothic";
  text-align: center;
  margin: 30px;
}
ul.nav li {
    display: inline-block;
    padding-right: 10px;
		padding-left: 10px;
		padding-top: 5px;
    background-color: #d4eff9;
    font-family: "Century Gothic";
}
ul.nav a {
    color: #777776;
    text-decoration: none;
}
ul.nav a:hover {
    font-weight: bold;
}
h1 {
  font-size: 60px;
  color: #d4eff9;
  padding: 10px;
}
h2 {
  font-size: 20px;
  color: white;
  padding: 20px;
}
h3 {
  font-size: 40px;
	padding: 10px;
}
body {
  background-color: #d4eff9;
}
ul {
list-style-type: none;
}
#profile {
    border-radius: 50%;
}
#social-buttons {
	text-align: center;
}
.twitter {
	padding: 0px;
	border: 0px;
}
.facebook {
	padding: 0px;
	border: 0px;
	margin: 5px;
}
.instagram {
	padding: 0px;
	border: 0px;
}
input{
  border: 0;
  font-size: 18px;
  width: 500px;
}

input[placeholder="Send"]{
  background-color: #52b8dd;
  color: white;
  width: 100px;
}

input[placeholder="Send"]:hover {
  background-color: grey;
}

input[placeholder="Message..."] {
  height: 300px;
  margin: 10px;
}

input[placeholder="Name"] {
  margin: 10px;
}

input[placeholder="Password"] {
  margin: 10px;
}

.maps {
text-align: center;
margin: 20px;
}


ul.profile li{
	padding: 5px;
}

#Aboutimage {
	height: 400px;
}
